<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%- helmet.title.toString() %> <%- helmet.meta.toString() %>
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#ffffff" />
    <title>Tangkap</title>
    <%- linkTags %> <%- styleTags %>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="root"><%- content %></div>
    <script>
      window.__APOLLO_STATE__ = <%- JSON.stringify(initialState).replace(/</g, '\\u003c') %>
    </script>
    <%- scriptTags %>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker
            .register('/service-worker.js')
            .then((registration) => {
              console.log('SW registered: ', registration);
            })
            .catch((registrationError) => {
              console.log('SW registration failed: ', registrationError);
            });
        });
      }
    </script>
  </body>
</html>
