html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Axiforma', Arial, sans-serif;
  font-weight: 500;
  color: #404d5b;
  background: #fff;
}

a {
  text-decoration: none;
  color: #404d5b;
}

.detail-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #ececec;
  margin: 20px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%);
  &-media {
    padding: 20px;
    display: flex;
    flex-direction: row;
    img {
      width: 210px;
    }
  }
}

.container-move {
  display: flex;
  margin: 20px;
  border: 2px solid #ececec;
  border-radius: 8px;
  padding: 20px;
  box-shadow: -8px 8px 14px 0 rgb(25 42 70 / 11%);
  flex-wrap: wrap;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.show-modal {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.warning {
  color: #721c24;
  background-color: #f8d7da;
  padding: 10px;
}

.white {
  color: white;
}

.flex1 {
  flex: 1;
}

.container-main {
  margin: 20px;
}

.container-center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 10px;
  margin: 100px auto;
  padding: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-loader {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(197 197 197 / 5%);
  backdrop-filter: saturate(180%) blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-device-width: 376px) and (-webkit-min-device-pixel-ratio: 1) {
  .container-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
